@import "~bootstrap/dist/css/bootstrap.css";
.navbar{
  margin: auto;
  background-color: #1c4369 !important;
}

.offcanvas{
  background-color: #3a5c84 !important;
}

.fondo{
  --background: #003357 !important;
}

.button{
  background-color: #fff0 !important;
}

.fondoQr{
  margin: auto;
  --background: #003357 !important;
}

.imgqr{
  margin-left: 20px;
  width: 40%;
  height: 40%;
  border: solid 4px #f8b31c;
}

.cartas{
  margin-top: 60px;
}
ion-card {
    margin: 15px;
    position: relative;
    
    .card-content {
      position: relative;
      padding-left: 10px;
      
      .color-line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: green; // Reemplaza '#your-color' con el color que desees para la línea
      }
      
      ion-card-header {
        ion-card-title {
          color: black;
          font-size: 20px;
        }
      }
  
      ion-card-content {
        color: gray;
        font-size: 16px;
      }
    }
    

  }
  .qr {
    display: flex;
    justify-content: space-between;
  
    .imgqr {
      width: 40%;
      height: auto;
    }
  
    .tabla {
      width: 60%;
  
      ion-grid {
        ion-col{
          border: solid 1px black;
        }
        ion-row {
          display: flex;
          justify-content: space-between;
          border: solid 1px black;
          background-color: #ffffff;
          color: #000000;
        }
        ion-row.titulos{
          background-color:  #3a5c84;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  .boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

  .icono{
    width: 3em;
    margin-left: -2em;
    margin-right: 1em;
  }

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.timer progress{
  height: 80px;
  width: 90%;
  color: #f8b31c;
}

.anuncio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.botonqr{
  width: 30%;
  height: 60px;
  margin-top: 2em;
  background: #f8b31c !important;
  border-radius: 5%;
  font-size: large;
}