
<!--Sidemenu-->
<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-button fill="clear" class="boton-menu">Ajustes 
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear"class="boton-menu"(click)="logOut()"> Cerrar sesión
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-content>

</ion-menu>

<!--Dashboard-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<!--Carta-->
<ion-content>
  <ion-card *ngFor="let curso of cursos">
    <div class="card-content">
      <div class="color-line"></div>
      <ion-card-header>
        <ion-card-title>{{curso.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{curso.subtitle}}

        <p class="d-inline-flex gap-1">
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" 
          role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
        </p>

        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
              </div>
            </div>
          </div>
          
        </div>
        
          {{curso.extraInfo}}

      </ion-card-content>
    </div>
    <ion-icon name="chevron-down-circle-outline" class="expand-icon"></ion-icon>
  </ion-card>
</ion-content>
  <!--Carta-->

</div>