ion-card {
    margin: 10px;
    position: relative;
    
    .card-content {
      position: relative;
      padding-left: 10px;
      
      .color-line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: green; // Reemplaza '#your-color' con el color que desees para la línea
      }
      
      ion-card-header {
        ion-card-title {
          color: black;
          font-size: 20px;
        }
      }
  
      ion-card-content {
        color: gray;
        font-size: 16px;
  
        .extra-info {
          display: none;
        }
      }
    }
    
}
.expand-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    color: red; // Cambia 'red' al color que prefieras
}