@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
.navbar{
  margin-bottom: 60px;
  background-color: #1c4369 !important;
}

.offcanvas{
  background-color: #007ea8 !important;
}

.fondo{
  --background: #003357 !important;
}

ion-item {
  margin-top: -10px;
  margin-bottom: -10px;
  --background: #003357 !important;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.botonqr{
    margin: auto;
}
.qr{
  margin: auto;
  width: 4em;
}
ion-card {
    position: relative;
    width: 100%;
    margin: 10px auto; 
    font-family: 'Montserrat', sans-serif;
    --background: #53adda !important;
    
    
    .card-content {
      position: relative;
      padding-left: 10px;
      --background: #53adda;
      
      .color-line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
      }
      
      ion-card-header {
        ion-card-title {
          color: white;
          font-size: 20px;
        }
      }
  
      ion-card-content {
        color: rgb(0, 0, 0);
        font-size: 16px;
        
      }
    }
    .flecha{
        width: 2em;
        margin-top: -2px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -2px;
        color: #f8b31c;
    }
    .asis{
        margin-left: 10em;
    }

}

.list-md {
  background: #53adda !important;
}

  