<!--Sidemenu-->
<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content class="ion-padding">
    <ion-button fill="clear" class="boton-menu">Ajustes 
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear"class="boton-menu"(click)="logOut()"> Cerrar sesión
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <div class="botonback">
        <ion-back-button defaultHref="/ruta-pagina-anterior" class="botonb"></ion-back-button>
      </div>
    </ion-toolbar>
  </ion-header>
 <ion-card >
    <div class="card-content">
      <div class="color-line"></div>
      <ion-card-header>
        <ion-card-title>{{ramo}}</ion-card-title>
      <div>
        <ion-label>13/Septiembre/2023</ion-label>
      </div>
      </ion-card-header>
    </div>
  </ion-card>

  <ion-content>
    <div class="tabla">
      <ion-grid>
        <ion-row class="titulos">
          <ion-col >Clase</ion-col>
          <ion-col >Fecha</ion-col>
          <ion-col >Estado</ion-col>
        </ion-row>
        <ion-row *ngFor="let clase of clases" (click)="selectRow(clase)" [ngClass]="{'selected': selectedRow === clase}">
          <ion-col>{{clase.id}}</ion-col>
          <ion-col>{{clase.fecha}}</ion-col>
          <ion-col>
            <span *ngIf="clase.estado; else pendiente">Finalizado</span>
            <ng-template #pendiente><span>Pendiente</span></ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="boton">
      <ion-button (click)="IrAqr()" class="botonqr" expand="full" [disabled]="selectedRow.estado" >
        <img src="../../../../assets/img/qr.png" class="icono">
        Generar QR
      </ion-button>
    </div>
      <div class="boton">
      <ion-button class="botonreporte" expand="full" [disabled]="!selectedRow.estado">
        <img src="../../../../assets/img/reporte.png" class="icono">
        Generar Reporte</ion-button>
    </div>
  </ion-content>



