<ion-content class="fondo">


<!--Sidemenu-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<div class="navbar">

<nav class="navbar navbar-dark bg-dark fixed-top">

  <div class="container-fluid" >
    <a class="navbar-brand" href="#"><img src="../../../../assets/img/Logo1.png"  width="65em" height="65em" style="margin-bottom: 20px; margin-top: -15px;"></a>
    
    <button style="margin-bottom: 20px; margin-top: -15px;" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RegistrApp</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <ion-button fill="clear">
             <a class="nav-link active" href="/dashboard-profesor">Home</a>
            </ion-button>
          </li>
          <li class="nav-item">
            <ion-button fill="clear">
              <a class="nav-link active" href="/dashboard-profesor">Ajustes</a>
            </ion-button>
          </li>
          <li class="nav-item">
            <ion-button fill="clear" (click)="logOut()" >
              <a class="nav-link active">Log Out</a>
            </ion-button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
</div>






<div class="cartas">
 <ion-card >
    <div class="card-content">
      <div class="color-line"></div>
      <ion-card-header>
        <ion-card-title>{{ramo}}</ion-card-title>
      <div>
        <ion-label>13/Septiembre/2023</ion-label>
      </div>
      </ion-card-header>
    </div>
  </ion-card>
</div>
  <ion-content class="fondo">
    <div class="tabla">
      <ion-grid>
        <ion-row class="titulos">
          <ion-col >Clase</ion-col>
          <ion-col >Fecha</ion-col>
          <ion-col >Estado</ion-col>
        </ion-row>
        <ion-row *ngFor="let clase of clases" (click)="selectRow(clase)" [ngClass]="{'selected': selectedRow === clase}">
          <ion-col>{{clase.id}}</ion-col>
          <ion-col>{{clase.fecha}}</ion-col>
          <ion-col>
            <span *ngIf="clase.estado; else pendiente">Finalizado</span>
            <ng-template #pendiente><span>Pendiente</span></ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="boton">
      <ion-button (click)="IrAqr()" class="botonqr" expand="full" [disabled]="selectedRow.estado" >
        <img src="../../../../assets/img/qr.png" class="icono">
        Generar QR
      </ion-button>
    </div>
      <div class="boton">
        <button mat-button color="primary">Primary</button>
      <ion-button class="botonreporte" expand="full" [disabled]="!selectedRow.estado">
        <img src="../../../../assets/img/reporte.png" class="icono">
        Generar Reporte</ion-button>
    </div>
  </ion-content>

</ion-content>

