
<ion-content [fullscreen]="true" class="fondo">
  <div class="logo">
    <div class="logo1">
      <img src="../../../assets/img/Logo1.png" alt="">
    </div> 
  </div>
  
  <div class="slogan">
    <div class="slogan1">
      <img src="../../../assets/img/slogan1.png" alt="">
      <div class="spinner">
        <ion-spinner name="lines" color="light"></ion-spinner>
      </div>
      
    </div>
  </div>
  <div class="duoc">
    <div class="duoc1" #duoc>
      <img src="../../../assets/img/Logo2.png" alt="">
    </div>
  </div>
</ion-content>
