<ion-content class="fondo">
  <div class="contenedor">
  <ion-card class="carta">
    <ion-card-header>
      <ion-card-title>Ingresar a RegistrApp</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Correo Institucional" labelPlacement="floating" [(ngModel)]="usuario" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" [(ngModel)]="pass" type="password"></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary" (click)="irMenu()">Entrar</ion-button>

      <p><a href="#">¿Olvidaste tu contraseña?</a></p>

      <p>O conectarse con</p>
      <div class="correo">
        <div class="icono">
          <a href=""><img src="../../../assets/img/Mail.png" class="correo"></a>
        </div>
      </div>
      <p>Duoc UC SSO</p>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>