
<!--Sidemenu-->
<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-button fill="clear" class="boton-menu">Ajustes 
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear"class="boton-menu"(click)="logOut()"> Cerrar sesión
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-content>

</ion-menu>

<!--Dashboard-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title slot="end"> Bienvenido: Profesor</ion-title>
    </ion-toolbar>
    <ion-toolbar class="dias">
      <ion-segment value="todos" (ionChange)="updateDay($event)">
        
        <ion-segment-button value="lunes">
          <ion-label>L</ion-label>
        </ion-segment-button>

        <ion-segment-button value="martes">
          <ion-label>M</ion-label>
        </ion-segment-button>

        <ion-segment-button value="miercoles">
          <ion-label>X</ion-label>
        </ion-segment-button>

        <ion-segment-button value="jueves">
          <ion-label>J</ion-label>
        </ion-segment-button>

        <ion-segment-button value="viernes">
          <ion-label>V</ion-label>
        </ion-segment-button>

        <ion-segment-button value="sabado">
          <ion-label>S</ion-label>
        </ion-segment-button>

        <ion-segment-button value="todos">
          <ion-label>Todos los cursos</ion-label>
        </ion-segment-button>
        
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-template ngFor let-c [ngForOf]="clases">
      <ion-card [routerLink]="['/dashboard-profesor/detalleramo', c.ramo]" *ngIf="selectedDay === 'todos' || c.dias === selectedDay">

        <div class="card-content">
          <div class="color-line"></div>
          <ion-card-header>
            <ion-card-title>{{c.ramo}}</ion-card-title>
            <ion-label>{{c.bloque}}</ion-label>
            <ion-label><h5>{{c.seccion}}</h5></ion-label>
          </ion-card-header>
        </div>

        <ion-icon name="qr-code-outline" class="qr-code-outline"></ion-icon>

      </ion-card>
    </ng-template>
  </ion-content>
</div>


  
