@import "~bootstrap/dist/css/bootstrap.css";
.navbar{
  margin: auto;
  background-color: #1c4369 !important;
}

.offcanvas{
  background-color: #3a5c84 !important;
}

.fondo{
  --background: #003357 !important;
}
.button{
  background-color: #fff0 !important;
}
ion-avatar {
    --border-radius: 4px;
  }
ion-segment-button {
    --background: #f8b31c !important;
  }

ion-card-content {
    text-align: justify;
}
.textoend {
    display: flex;
    align-items: flex-end;
    text-align: end;
}
.dias{
    display: flex;
    align-items: center;
    text-align: center;
    
}


ion-card {
    margin: 15px;
    position: relative;
    
    
    
    
    .card-content {
      position: relative;
      padding-left: 10px;
      
      .color-line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
      }
      
      ion-card-header {
        ion-card-title {
          color: black;
          font-size: 20px;
        }
      }
  
      ion-card-content {
        color: gray;
        font-size: 16px;
  
        .extra-info {
          display: none;
        }
      }
    }
    
    .qr-code-outline {
      position: absolute;
      right: 25px;
      top: 25px;
      color: black; // Reemplaza '#your-color' con el color que desees para la estrella
    }
  }